<div  id="navId">
    <div>
      <span class="h5 pointer p-1">
        <a [routerLink]="['/']">
          <img src="/assets/logo.png" class="logo" alt="logo">
        </a>
      </span>
    </div>
  </div>
  
  <div id="backgroundMain">
    <div class="container">
  
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-12 ">
          <h5 class="heading">Quick Meet video meetings for everyone.</h5>
          <p class="sub-heading">We re-engineered the service using Agora & HarperDB for high-quality meetings, Quick Meet available for all screen sizes.</p>
  
          <hr>
          <p>Password Less Login/SignUp <span class="go-link" (click)="goToScreen()">Get Started.</span></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-12 ">
          <div class="img-wrapper">
            <img src="/assets/preview.png" alt="preview" id="primg">
          </div>
        </div>
      </div>
      
    </div>  
  </div>
  
  <div id="footer">@2022 - QuickMeet</div>